.headerMain{ 
    padding: 10px 60px;
    gap: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1119)'%3e%3c/rect%3e%3cpath d='M1440 0L977.99 0L1440 252.75z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M977.99 0L1440 252.75L1440 416.05L619.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M619.23 0L1440 416.05L1440 462.13L589.0500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M589.0500000000001 0L1440 462.13L1440 513.86L342.86000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L269.44 560L0 353.68z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 353.68L269.44 560L497.1 560L0 250.75z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 250.75L497.1 560L1075.0500000000002 560L0 155.01z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 155.01L1075.0500000000002 560L1218.6800000000003 560L0 68.77999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1119'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 128%2c 128%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}
.headerLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    gap: 10px;
}
.headerRight{
    display: flex;
    align-items: center;
    column-gap: 30px;
    gap: 10px;
    justify-content: space-between;

}
.headerbox{
    border-radius: 4px;
    box-shadow: 0 2px 4px black;
    /* padding: 10px; */
    width: 220px;
    margin: 20px;
}
.headerbox{
    box-shadow:0px 0px 2px 2px orangered;
    padding: 10px;
    border-radius: 4px;
}
.headerbox:hover{
    transform: scale(1.2);
    background-color: beige;
    transition: all .5s ease-in-out;
}
.headerMain button{
    color: orangered;
    height: 50px;
    width: 120px;
    font-size: larger;

}
.headerMain button:hover{
    box-shadow: 3px 3px yellow;
    transition: all .4s ease-in-out;
    color: teal;
    
}
@media (max-width:800px) {
    .headerMain{
        flex-direction: column;
        padding: 30px 20px;
    }
    .headerLeft{
        flex-direction: column;
    
    }
    .headerRight{
        flex-direction: column-reverse;
    
    }
    .headerbox{
        height:320px;
        width:320px; 
    }
}