*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bb{
  height: 100vh;
  text-align: center;
  position: relative;
  align-items: center;
  background-color: gray;
  padding: 20px;
  margin: 20px;
  padding-top: 190px;
  line-height: 60px;

  box-shadow: 1px -2px 4px black;
}
.bb h1{
  color: black;
  font-size: 3rem;
  color: burlywood;
  text-shadow: 1px 1px 1px orangered;

}
.bb p{
  font-size: 2rem;
  color: orangered;
  text-shadow: 1px 2px black;
}
.bb .tt{
  color: orangered;
  top: 0;
  right: 20px;
  position: absolute;
}
.bb div{
  position: absolute;
  bottom: 70px;
  left: 10px;
  text-align: left;
  line-height: 40px;
}
.bb div h5{
  font-size: 25px;
  color: greenyellow;
  text-shadow: 1px 1px brown;
}
.bb div h6{
  font-size: 33px;
  
  color: greenyellow;
  text-shadow: 1px 1px brown;
}