@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.navbar-main{ 
    box-shadow: 1px 2px 3px black; 
}   
.navbar ul{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center; 
    
}
.imglogo{
    width: 90px ;
    height : 90px;
    object-fit: contain;
}
ul li{
    font-size: 1.6rem;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}































.active{
    color: orangered;
}